<form class="form-horizontal">
    <fieldset>
        <legend></legend>
        <div class="form-group required">
            <label class="col-lg-2 control-label">Service Name</label>
            <div class="col-lg-10">
                <input class="form-control" ng-model="newService.name" placeholder="Name" type="text">
            </div>
        </div>
        <div class="form-group required">
            <label class="col-lg-2 control-label">URL</label>
            <div class="col-lg-10">
                <input class="form-control" ng-model="newService.url" placeholder="api.com" type="text">
            </div>
        </div>
        <div class="form-group required">
            <label class="col-lg-2 control-label">Description</label>
            <div class="col-lg-10">
                <input class="form-control" ng-model="newService.desc" placeholder="Description" type="text">
            </div>
        </div>
        <div class="form-group required">
            <label class="col-lg-2 control-label">API Key Label</label>
            <div class="col-lg-10">
                <input class="form-control" ng-model="newService.keyLabel" placeholder="Key Label" type="text">
            </div>
        </div>
        <div class="form-group required">
            <label class="col-lg-2 control-label">API Key Value</label>
            <div class="col-lg-10">
                <input class="form-control" ng-model="newService.keyValue" placeholder="Key Value" type="text">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button class="btn btn-default" ng-click="back('/createApp')">Cancel</button>
                <button class="btn btn-primary" type="submit" ng-click="createNewService('/createApp')">Create</button>
            </div>
        </div>
    </fieldset>
</form>