<fieldset>
    <legend></legend>
    <p align="justify">This application will help Developers speed-up their application development experience by giving
        them
        the kind of user interface where they can just add elements to their application by click of a button and need
        not worry about the backend code</p>

    <p align="justify">Every developer have their personal homepage listing all apps</p>

    <p align="justify">While developing an application the developer needs to specify the web service, configure input
        parameters
        and developer a layout how the result will be presented to the user</p>

    <p align="justify">Each user will also have personal homepage listing their downloaded applications</p>

    <p align="center">
        <button href="#" class="btn btn-link" ng-click="openLoginPage('/login')">Already a member? Login
            Here
        </button>
    </p>
    <p align="center">
        <button href="#" class="btn btn-link" ng-click="openRegistrationPage('/register')">New User? Register Here
        </button>
    </p>
</fieldset>