<form class="form-horizontal">
    <fieldset>
        <legend>Application UserView</legend>
        <div class="form-group" ng-repeat="param in inputParams">
            <label class="col-lg-2 control-label">{{param.label}}</label>

            <div class="col-lg-10">
                <input class="form-control" type="text" ng-model="appInputs[param.name]">
                <span class="help-block">Sample Value: {{param.defaultValue}}</span>
                <span class="help-block">Format: {{param.format}}</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button class="btn btn-default" ng-click="back()">Cancel</button>
                <button class="btn btn-default" ng-click="clear()">Clear</button>
                <button type="submit" class="btn btn-primary" ng-click="execute()">Run</button>
            </div>
        </div>
    </fieldset>
</form>
